body
{
    background:black;
    font-family: "Helvetica", sans-serif;
}

header
{
    position:absolute;
    right:0%;
    top:5%;
    background:url('../bilder/biohead5.png') no-repeat;
    background-size:80px 373px;
    width:80px;
    height:373px;
    
}

#container
{
    width:60%;
    margin:0 auto;
}

#container2
{
    width:90%;
    margin:0 auto;
}

nav#headmenu
{
    padding-top:20px;
    color:white;
}

nav#headmenu ul
{
   list-style:none;
   padding:0;
   margin:0;
   text-align:center;
}

nav#headmenu li
{
    display:inline;
    list-style:none;

}

nav#headmenu li a
{
    display:inline-block;
    color:white;
    text-decoration:none;
    font-size:0.9em;
    padding:10px 25px 10px 25px;
    font-weight:normal;
    letter-spacing:0.1em;
    box-shadow:4px 4px 7px black;
    border-right:1px ridge gray;
    border-left:1px ridge #A5A596;

    margin-right:-4px;
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#818181), color-stop(100%,#3B3B3B)); 
    background: -webkit-linear-gradient(top, #818181 0%,#3B3B3B 100%); 
    background: -o-linear-gradient(top, #818181 0%,#3B3B3B 100%); 
    background: -ms-linear-gradient(top, #818181 0%,#3B3B3B 100%); 
    background: linear-gradient(to bottom, #818181 0%,#3B3B3B 100%);
}

nav#headmenu li:first-child a
{
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border-left:1px ridge #F5F5E6;
}

nav#headmenu li:last-child a
{
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-right:1px ridge gray;
}

nav#headmenu a.current
{
    color:#303030;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E1E1E1), color-stop(100%,#FFFFFF)); 
    background: -webkit-linear-gradient(top, #E1E1E1 0%,#FFFFFF 100%); 
    background: -o-linear-gradient(top, #E1E1E1 0%,#FFFFFF 100%); 
    background: -ms-linear-gradient(top, #E1E1E1 0%,#FFFFFF 100%); 
    background: linear-gradient(to bottom, #E1E1E1 0%,#FFFFFF 100%);
}

nav#headmenu a:hover
{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D1D1D1), color-stop(100%,#818181)); 
    background: -webkit-linear-gradient(top, #D1D1D1 0%,#818181 100%); 
    background: -o-linear-gradient(top, #D1D1D1 0%,#818181 100%); 
    background: -ms-linear-gradient(top, #D1D1D1 0%,#818181 100%); 
    background: linear-gradient(to bottom, #D1D1D1 0%,#818181 100%);
}

nav#headmenu a:active
{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EBEBEB), color-stop(100%,#B9B9B9)); 
    background: -webkit-linear-gradient(top, #EBEBEB 0%,#B9B9B9 100%); 
    background: -o-linear-gradient(top, #EBEBEB 0%,#B9B9B9 100%); 
    background: -ms-linear-gradient(top, #EBEBEB 0%,#B9B9B9 100%); 
    background: linear-gradient(top bottom, #EBEBEB 0%,#B9B9B9 100%);
}

nav#headmenu a.current:hover
{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E1E1E1), color-stop(100%,#FFFFFF)); 
    background: -webkit-linear-gradient(top, #E1E1E1 0%,#FFFFFF 100%); 
    background: -o-linear-gradient(top, #E1E1E1 0%,#FFFFFF 100%); 
    background: -ms-linear-gradient(top, #E1E1E1 0%,#FFFFFF 100%); 
    background: linear-gradient(to bottom, #E1E1E1 0%,#FFFFFF 100%);
}


main
{
    overflow:auto;
    clear:both;
    margin:0 auto;
    margin-bottom:50px;
    padding:20px;
    background:#F5F5E6;
    border-left:1px solid#B9B9AA;
    border-top:1px solid#B9B9AA;
    border-right:2px ridge #B9B9AA;
    border-bottom:2px ridge #B9B9AA;
    border-radius:12px;
    box-shadow:5px 5px 10px black;
    text-align:left;
}

main#moviemain
{
    background:black;


    border:none;
    box-shadow:none;
}

footer
{
    max-width:100%;
    color:white;
    letter-spacing:0.1em;
    font-size:0.5em;
    font-style:italic;
    text-align:center;
    margin:20px;
}

h1
{
    text-align:center;
    font-size:3em;
    padding:10px;
    font-weight:bold;
    color:#292929;
}

p.helptext
{
    width:40%;
    font-size:0.8em;
    text-align:left;
    color:#7D7D6E;
    line-height:20px;
    margin-top:20px;
}

#formtext
{
    display:block;
    float:left;
}

.formular
{
    display:block;
    float:right;
    width:50%;
    margin-top:20px;
    padding:10px;
    border:1px ridge #CDCDBE;
    border-radius:5px;
}

input
{
    width:95%;
        margin-bottom:5px;
}

textarea
{
    max-width:95%;
        margin-bottom:5px;
}

select
{
    max-width:95%;
    margin-bottom:5px;
}

label
{
    font-size:0.8em;
    font-weight:bold;
    color:#656565;
}

button
{
 margin-top:3px;
 margin-left:10px;
 font-size: 0.9em; 
 font-weight:bold;
 line-height:1.5em;
 color: #333;
 width:120px;
}

.faqmenu
{
    display:none;
}

dl
{
    margin-top:50px;
}

dt
{
    font-size:1.1em;
    text-align:left;
    margin:5px;
    color:#333;
}

dd
{
    font-size:0.8em;
    text-align:left;
    margin:10px;
    margin-bottom:40px;
    color:#333;
    line-height:20px;
}



.galleryimg
{
    margin:40px;
}

img
{
    width:200px;
}

.movieposters a
{
    float:left;
    padding:10px 10px 25px;
    background:white;
    text-decoration:none;
    color:black;
    text-align:center;
    margin: 0 15px 30px;
    -webkit-box-shadow: 0 8px 15px;
    -moz-box-shadow:0 8px 15px;
    box-shadow:0 8px 15px;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index:0;
    position:relative;
}

.movieposters a:after 
{
    content: attr(title);
    display:block;
}

.movieposters a:nth-child(even)
{
    -webkit-transform:rotate(-10deg);
    -moz-transform:rotate(-10deg);
    transform:rotate(-10deg);
}

a:nth-child(3n)
{
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    transform:rotate(4deg);
}


.movieposters a:hover
{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5);
    z-index:100;
    -webkit-box-shadow: 0 8px 40px;
    -moz-box-shadow:0 8px 40px;
    box-shadow:0 8px 40px;
    
}