body
{
    font-family: "Helvetica", sans-serif;
    background:#F5F5E6;
}

header
{
    background:#733232;
    padding-top:30px;
    padding-bottom:10px;
}

nav
{
    float:inherit;
    
    max-width:100%;
    color:white;
    margin-left:10px;
}

nav a
{
    display:block;
    background:#3B3B3B;
    color:white;
    max-width:90%;
    padding:10px 10px;
    text-decoration:none;
    font-weight:normal;
    text-transform:uppercase;
    line-height:2em;
    letter-spacing:0.1em;
    border-radius:5px;
    margin-bottom:2px;
    border-top:1px ridge #F5F5E6;
    box-shadow:0px 0px 50px black;
}

nav a.current
{
    background:white;
    color:#303030;
    text-align:right;
}

nav a:hover
{
    background:#818181;
}

.current:hover
{
    background:white;
}

footer
{
    font-size:0.7em;
    font-style:italic;
    text-align:center;
    margin-top:30px;
    padding:20px;
}

ul
{
    list-style:none;
}

h1
{
    margin:10px;
    font-size:2em;
    text-align:left;
}

p
{
    font-size:0.8em;
    text-align:left;
    margin:10px;
}



input[type=text], input[type=mail], input[type=tel], input[type=number], select
{
  -webkit-appearance: none; -moz-appearance: none;
  display: block;
  margin: 0;
  width: 100%; height: 40px;
  line-height: 20px; font-size: 17px;
  border: 1px solid #bbb;
  padding-left:2px;
}

textarea
{
  -webkit-appearance: none; -moz-appearance: none;
  display: block;
  margin: 0;
  width: 100%; height: 80px;
  font-size: 17px;
  border: 1px solid #bbb;
  padding-left:2px;
  resize:none;
}

form
{
    font-style:normal;
    font-weight:bold;
    margin:10px;
    margin-right:30px;
    margin-top:30px;
    margin-bottom:30px;
}

button[type=submit]
{
  -webkit-appearance: none; -moz-appearance: none;
 display: block;
 
 margin: 1.5em;
 margin-left:3px;
 font-size: 1em; line-height: 2.5em;
 color: #333;
 font-weight: bold;
 height: 2.5em; width: 100%;
 background: #fdfdfd; background: -moz-linear-gradient(top, #fdfdfd 0%, #bebebe 100%); 
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#bebebe)); 
 background: -webkit-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); 
 background: -o-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); 
 background: -ms-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); 
 background: linear-gradient(to bottom, #fdfdfd 0%,#bebebe 100%);
 border: 1px solid #bbb;
 -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;
    
}

select
{
    background:white;
}

.field
{
    color:gray;
    margin:5px;
}

.field input

img
{
    max-width:100%;
}

.EEET
{
    max-width:250px;
}

.EEETT
{
    max-width:250px;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
	margin:30px;
}
	/* flip the pane when hovered */
	.flip-container:active .flipper, .flip-container.active .flipper {
  -o-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 100px;
	height: 350px;
	padding:1px 25px 15px 25px;
}

/* flip speed goes here */
.flipper {
    -o-transition: 0.6s;
    -ms-transition: 0.6s;
    -moz-transition: 0.6s;
    -webkit-transition: 0.6s;
	transition: 0.6s;
	
	-o-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;
	transform-style: preserve-3d;

	position: relative;
	
}

/* hide back of pane during swap */
.front, .back {
    -o-backface-visibility:hidden;'
    -ms-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
	
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
    -o-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    
}


