body
{
    font-family: "Helvetica", sans-serif;
    background:#F5F5E6;
    
}

header
{
    background:#733232;
    padding-top:50px;
    padding-bottom:10px;
}

nav
{
    float:inherit;
    
    max-width:100%;
    color:white;
    margin-left:10px;
}

nav a
{
    display:block;
    background:#3B3B3B;
    color:white;
    max-width:90%;
    padding:10px 10px;
    text-decoration:none;
    font-weight:normal;
    text-transform:uppercase;
    line-height:2em;
    letter-spacing:0.1em;
    border-radius:5px;
    margin-bottom:2px;
    border-top:1px ridge #F5F5E6;
    box-shadow:0px 0px 50px black;
}

nav a.current
{
    background:white;
    color:#303030;
    text-align:right;
}

nav a:hover
{
    background:#818181;
}

.current:hover
{
    background:white;
}

footer
{
    font-size:0.7em;
    font-style:italic;
    text-align:center;
    margin-top:30px;
    padding:20px;
}

ul
{
    list-style:none;
}

h1
{
    margin:10px;
    font-size:2em;
    text-align:left;
}

p.helptext
{
    font-size:0.8em;
    text-align:left;
    margin:10px;
    color:#333;
    line-height:20px;
}



input[type=text], input[type=mail], input[type=tel], input[type=number], select
{
  -webkit-appearance: none; -moz-appearance: none;
  display: block;
  margin: 0;
  width: 100%; height: 40px;
  line-height: 20px; font-size: 17px;
  border: 1px solid #bbb;
  padding-left:2px;
}

textarea
{
  -webkit-appearance: none; -moz-appearance: none;
  display: block;
  margin: 0;
  width: 100%; height: 80px;
  font-size: 17px;
  border: 1px solid #bbb;
  padding-left:2px;
  resize:none;
}

form
{
    font-style:normal;
    font-weight:bold;
    margin:10px;
    margin-right:30px;
    margin-top:30px;
    margin-bottom:30px;
}

button
{
  -webkit-appearance: none; -moz-appearance: none;
 display: block;
 
 margin: 1.5em;
 margin-left:2px;
 font-size: 1em; line-height: 2.5em;
 color: #333;
 font-weight: bold;
 height: 2.5em; width: 100%;
 background: #fdfdfd; background: -moz-linear-gradient(top, #fdfdfd 0%, #bebebe 100%); 
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#bebebe)); 
 background: -webkit-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); 
 background: -o-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); 
 background: -ms-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); 
 background: linear-gradient(to bottom, #fdfdfd 0%,#bebebe 100%);
 border: 1px solid #bbb;
 -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;
    
}

select
{
    background:white;
}

.field
{
    color:gray;
    margin:5px;
}

.field2
{
    color:gray;
    margin:5px;
    margin-top:50px;
}



img
{
    width:100%;
}




.passbook 
{
	position: relative;
	max-width: 100%;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-transition: 2.0s;
	-moz-transition: 2.0s;
	transition: 2.0s;

	margin:10px;
}

.card 
{   
    position: relative;  
  
    -webkit-backface-visibility: hidden;  
    -moz-backface-visibility: hidden;  
    backface-visibility: hidden;  
}  

.front 
{  
    z-index: 1;  
}  


.back 
{  
    -webkit-transform: rotateY(180deg);  
    -moz-transform: rotateY(180deg);  
    transform: rotateY(180deg); 
    border:1px;
}  

.rotate-3d {  
    -webkit-transform: rotateY(180deg);  
    -moz-transform: rotateY(180deg);  
    transform: rotateY(180deg);  
}  

.info
{
         -webkit-appearance: none; -moz-appearance: none;
         list-style:none;
         text-align:center;
         text-decoration:none;
         display: block;
         margin: 1.5em;
         margin-left:2px;
         font-size: 1em; line-height: 2.5em;
         color: #333;
         font-weight: bold;
         height: 2.5em; width: 100%;
         background: #fdfdfd; background: -moz-linear-gradient(top, #fdfdfd 0%, #bebebe 100%); 
         background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#bebebe)); 
         background: -webkit-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); 
         background: -o-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); 
         background: -ms-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); 
         background: linear-gradient(to bottom, #fdfdfd 0%,#bebebe 100%);
         border: 1px solid #bbb;
         -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;
}