body
{
    background:black;
    max-width:100%;
    font-family: "Helvetica", sans-serif;
}

header
{
    background-image:url('../bilder/biohead2.png');
}

nav#headmenu
{
    float:left;
    width:100%;
    padding-top:20px;
    color:white;
    position:relative;
}

nav#headmenu ul
{
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}

nav#headmenu li
{
     display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}

nav#headmenu li a
{
    display:block;
    margin:0 0 0 1px;
    background:#3B3B3B;
    color:white;
    text-decoration:none;
    line-height:1.3em;
    padding:10px;
    font-weight:normal;
    text-transform:uppercase;
    line-height:1.2em;
    letter-spacing:0.1em;
    border-radius:3px;
    margin-left:2px;
    border-top:1px ridge #F5F5E6;
    box-shadow:5px 5px 70px 10px #1E1E1E;
}

nav#headmenu a.current
{
    background:white;
    color:#303030;
    text-align:right;
}

nav#headmenu a:hover
{
    background:#818181;
}

nav#headmenu a:active
{
    background:#F2F2F2;
}

nav#headmenu a.current:hover
{
    background:white;
}

