body
{
    font-family: "Helvetica", sans-serif;
    background:#F5F5E6;
    margin:auto;
}

header
{
    display:none;
}

nav#headmenu
{
    float:inherit;
    max-width:100%;
    color:white;
    background:#733232;
    padding:40px 10px 10px 10px;

}

nav#headmenu a
{
    float:none;
    display:block;
    background:#3B3B3B;
    color:white;
    max-width:100%;
    padding:10px;
    text-decoration:none;
    font-weight:normal;
    text-transform:uppercase;
    line-height:2em;
    letter-spacing:0.1em;
    border-radius:5px;
    margin-bottom:2px;
    border-top:1px ridge #F5F5E6;
    box-shadow:0px 0px 50px black;
    }

nav#headmenu a.current
{
    background:white;
    color:#303030;
    text-align:right;
}

nav#headmenu a:hover
{
    background:#818181;
}

nav#headmenu a:active
{
    background:#F2F2F2;
}

nav#headmenu a.current:hover
{
    background:white;
}

footer
{
    font-size:0.6em;
    font-style:italic;
    text-align:center;
    margin-top:30px;
    margin-left:10px;
    margin-right:10px;
    padding:20px;
    border-top:1px dashed #979797;
}

ul
{
    list-style:none;
}

h1
{
    margin:10px;
    margin-top:30px;
    font-size:2em;
    text-align:left;
    color:#292929;
}

p.helptext
{
    font-size:0.8em;
    text-align:left;
    margin:10px;
    color:#333;
    line-height:20px;
}

/*hjälptext med marginal. FIXAAAAAA*/
p.helptext2
{
    font-size:0.8em;
    text-align:left;
    margin:10px;
    color:#333;
    line-height:20px;
}


input[type=text], input[type=email], input[type=tel], input[type=number], select
{
  -webkit-appearance: none; -moz-appearance: none;
  display: block;
  margin: 0;
  width: 100%; height: 40px;
  line-height: 20px; font-size: 17px;
  border: 1px solid #bbb;
  padding-left:2px;
}

textarea
{
  -webkit-appearance: none; -moz-appearance: none;
  display: block;
  margin: 0;
  width: 100%; height: 80px;
  font-size: 17px;
  border: 1px solid #bbb;
  padding-left:2px;
  resize:none;
}

form
{
    font-style:normal;
    font-weight:bold;
    margin:10px;
    margin-right:30px;
    margin-top:30px;
    margin-bottom:30px;
}

button
{
  -webkit-appearance: none; -moz-appearance: none;
 display: block;
 
 margin: 1.5em;
 margin-left:2px;
 font-size: 1em; line-height: 2.5em;
 color: #333;
 font-weight: bold;
 height: 2.5em; width: 100%;
 background: #fdfdfd; background: -moz-linear-gradient(top, #fdfdfd 0%, #bebebe 100%); 
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#bebebe)); 
 background: -webkit-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); 
 background: -o-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); 
 background: -ms-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); 
 background: linear-gradient(to bottom, #fdfdfd 0%,#bebebe 100%);
 border: 1px solid #bbb;
 -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;
    
}

select
{
    background:white;
}

.field
{
    color:gray;
    margin:5px;
}

.field2
{
    color:gray;
    margin:5px;
    margin-top:50px;
}

.faqmenu 
{
    font-weight:bold;
    margin-top:30px;
    margin-bottom:30px;
    margin-left:20px;
    margin-right:20px;
}

.faqmenu li
{
    margin-bottom:5px;
    padding-top:5px;
    padding-bottom:20px;
    border-bottom:1px ridge #979797;
}

.faqmenu a
{
    color:#292929;
    text-decoration:none;
}

.faqmenu li a:hover
{
    color:gray;
}

dt
{
    font-size:1.1em;
    text-align:left;
    margin:5px;
    color:#333;
}

dd
{
    font-size:0.8em;
    text-align:left;
    margin:10px;
    margin-bottom:40px;
    color:#333;
    line-height:20px;
}




img
{
    max-width:100%;
}




.container {
    position: relative;
    width: 200px;
    height: 260px;
    margin: 0 auto 40px auto;

    -webkit-perspective: 800px;
       -moz-perspective: 800px;
        -ms-perspective: 800px;
         -o-perspective: 800px;
            perspective: 800px;
}
.container .card {
    position: absolute;
    width: 100%;
    height: 100%;

    -webkit-transition: -webkit-transform 2s;
       -moz-transition:    -moz-transform 2s;
        -ms-transition:     -ms-transform 2s;
         -o-transition:      -o-transform 2s;
            transition:         transform 2s;

    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
         -o-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.container .card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 140px;
    font-weight: bold;
    line-height: 260px;
    color: #fff;
    text-align: center;

}
.container .card.flipped,
.container .card .face2 {
    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
         -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
}
.container .card .face .content1 {background-image:url('../bilder/hobbit_2.jpg');}
.container .card .face .content1 {background-size: 350px 300px;}
.container .card .face .content1 {background-repeat:no-repeat;}
.container .card .face .content2 {background-color: #7da;}
.container .card .face .content3 {background-color: #d7a;}
.container .card .face .content4 {background-color: #fad997;}

.store {
    display: none;
}
.buttons {
    text-align: center;
}